.ipynb_checkpoints/
.venv/
__pycache__/
misc/
dataset_test.py
models/unet-params/
tests/
scenes/*/dataset/
scenes/*/*.blend
scenes/*/*.blend1
scenes/nightscene/assets/
cache/img_00000_f1.2_fl18.0_fd7.52/
cache/img_00000_f1.2_fl35.0_fd2.77/
checkpoints/
external/
notes.txt